@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

html {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 12px;
}

img {
	width: 100%;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 100vh;
	padding: 2rem;
	gap: 1rem;
	background: hsl(273, 75%, 66%);
}

hr {
	margin-top: 1rem;
	opacity: .3;
}

.accordion {
	display: flex;
	flex-flow: column nowrap;
	justify-content: left;
	align-items: center;
	position: relative;
	margin-top: 120px;
	border-radius: 20px;
	background: white;
	background-image: url("../images/bg-pattern-mobile.svg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 260px;
}

.accordion .imgallmobile {
	position: relative;
	transform: translateY(-120px);
	max-width: 265px;
	margin-bottom: -50px;
}

.accordion .imgboxdesktop {
	display: none;
}

.accordion .imgwomandesktop {
	display: none;
}

.accordion .faq {
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
}

.accordion .qa {
	position: relative;
	min-width: 100%;
	padding: 1rem 1rem 1rem 2rem;
}

.accordion .qa .question {
	position: relative;
	padding-right: 10px;
	font-size: 1.2rem;
	cursor: pointer;
}

.accordion .qa.active .question {
	font-weight: 700;
}

.accordion .qa .question::before {
	position: absolute;
	content: url("../images/icon-arrow-down.svg");
	font-size: 1.5em;
	font-weight: 700;
	top: 20%;
	right: 0px;
	transform: translateY(-50%);
	transition: transform 0.5s;
	color: hsl(14, 88%, 65%);
}

.accordion .qa.active .question::before {
	content: url("../images/icon-arrow-down.svg");
	transform: translateY(-20%) rotate(180deg);
}

.accordion .qa .answer {
	position: relative;
	padding-right: 10px;
	height: 0;
	margin-top: 1rem;
	overflow: hidden;
	transition: 0.5s;
}

.accordion .qa.active .answer {
	height: 4rem;
	overflow-y: hidden;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 355px) {
	.accordion .imgallmobile {
		max-width: 130px;
		transform: translateY(-57px);
		margin-bottom: 1rem;
	}

	.accordion {
		background-size: 130px;
	}
}

@media (max-width: 200px) {
	.accordion .imgallmobile {
		display: none;
	}

	.accordion {
		background-image: none;
	}
}

@media (min-width: 1125px) {

	.accordion {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		width: 70%;
		max-width: 975px;
		height: 500px;
		background-image: none;
	}

	.accordion .faqqa {
		width: 100%;
		margin: 5rem 7rem 5rem 0rem;
	}

	.accordion .faq {
		text-align: left;
		margin: 0 0 2rem 2rem;
	}

	.accordion .imgallmobile {
		display: none;
	}

	.accordion .imgwomandesktop {
		display: flex;
		align-items: center;
		position: relative;
		display: block;
		height: 100%;
		width: 50%;
		background-image: url("../images/bg-pattern-desktop.svg");
		background-repeat: no-repeat;
		background-position: left -590px bottom -140px;
	}

	.accordion .imgwomandesktop img {
		position: relative;
		left: -77px;
		bottom: -77px;
		width: 450px;
		clip-path: inset(0 0 0 77px);
	}

	.accordion .imgwomandesktop::before {
		position: absolute;
		bottom: 22%;
		right: 78%;
		content: url("../images/illustration-box-desktop.svg");
		z-index: 1;
	}
}